apiVersion: skaffold/v3
kind: Config
metadata:
  name: backend

requires:
  - path: ../vectordb

build:
  tagPolicy:
    envTemplate:
      template: "{{.IMAGE_TAG}}"
  artifacts:
    - image: rag-docs-backend
      context: ../../..
      docker:
        dockerfile: Dockerfile

manifests:
  rawYaml:
    - deployment.yaml
    - service.yaml
    - configmap.yaml

deploy:
  kubectl: {}

portForward:
  - resourceType: service
    resourceName: rag-docs-backend
    port: 8106
    localPort: 8106

profiles:
  - name: local
    build:
      local:
        push: false
        useBuildkit: true
  - name: ci
    build:
      local:
        push: false
        useBuildkit: true
    portForward: []
