# claude
.claude/


# venv
.venv


#.env
.env
*.env

# Allow template files for CI
!*.env.template


# files
*.pyc
USE.md
TODO.md


# folders
__pycache__/
documents/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.backup


# git
.gitignore
.git

