# claude
.claude/

# venv
v_rag/

#.env
.env


# files
*.pyc
USE.md
TODO.md
test_bedrock.py


# folders
__pycache__/
documents/
.mypy_cache/
.ruff_cache/
.pytest_cache/
tests/old/


# git
.gitignore
.git


