# claude
.claude/


# venv
.venv
v_rag/



#.env
.env
.env.backend
front/.env.frontend


# files
*.pyc
USE.md
TODO.md
test_bedrock.py


# folders
__pycache__/
documents/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.backup


# git
.gitignore
.git


