
services:
  rag-docs-backend:
    build:
      context: backend/
      dockerfile: Dockerfile
    image: ${BACKEND_IMAGE_NAME}:${IMAGE_TAG}
    container_name: ${BACKEND_IMAGE_NAME}_${IMAGE_TAG}
    network_mode: "host"
    env_file:
      - backend/backend.env
      - image.env
    environment:
      - PYTHONPATH=/ms
    restart: unless-stopped
    mem_limit: 1g
    cpus: 1.0
    profiles:
      - backend
      - full

  rag-docs-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: ${FRONTEND_IMAGE_NAME}:${IMAGE_TAG}
    container_name: ${FRONTEND_IMAGE_NAME}_${IMAGE_TAG}
    network_mode: "host"
    env_file:
      - frontend/frontend.env
      - image.env
    restart: unless-stopped
    depends_on:
      - rag-docs-backend
    mem_limit: 1g
    cpus: 1.0
    profiles:
      - full
