ANONYMIZED_TELEMETRY=False
API_HOST=0.0.0.0
API_PORT=8106
CHROMADB_HOST=chromadb
CHROMADB_PORT=8000
COHERE_API_KEY=dummy-value
LANGCHAIN_API_KEY=dummy-value
LANGCHAIN_PROJECT=rag-docs
LANGCHAIN_TRACING_V2=false
LANGSMITH_API_KEY=dummy-value-or-empty
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=rag-docs
LANGSMITH_TRACING=false
OPENAI_API_KEY=dummy-value
PROJECT_ID=project
USE_GCP_SECRETS=False
VECTOR_DB_TYPE=pgvector