apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ollama-models-pvc
  labels:
    app: ollama
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 15Gi
  storageClassName: manual
