apiVersion: v1
kind: PersistentVolume
metadata:
  name: ollama-models-pv
  labels:
    app: ollama
spec:
  capacity:
    storage: 15Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: /hosthome/felipe/.ollama
    type: DirectoryOrCreate
