apiVersion: skaffold/v3
kind: Config
metadata:
  name: pgvector

build:
  tagPolicy:
    envTemplate:
      template: "{{.IMAGE_TAG}}"
  artifacts:
    - image: pgvector-init
      context: .
      docker:
        dockerfile: Dockerfile

manifests:
  rawYaml:
    - deployment.yaml
    - service.yaml

deploy:
  kubectl: {}

portForward:
  - resourceType: service
    resourceName: pgvector
    port: 5432
    localPort: 6025

profiles:
  - name: local
    build:
      local:
        push: false
        useBuildkit: true
  - name: ci
    build:
      local:
        push: false
        useBuildkit: true
    portForward: []
